//colors, maaan!!!!!!!!!!!!!!!!!

$black: #000;
$black-op90:rgba(0, 0, 0, 0.9);
$black-op85:rgba(0, 0, 0, 0.85);

$gray-dark: #2c2b32;
$gray-dark-op90:rgba(44, 43, 50, 0.9);
$gray-med: #666;
$gray-med-med: #c7c7c7;
$gray-light: #efefef;
$gray-mellow-purp: #C6C2CA;

$highlight-blue: #e4e2f0;
$highlight-turq: #4edfec;
$highlight-green: rgb(78, 236, 182);

$purp-op90:rgba(27, 14, 44, 0.9);
$purp-op30:rgba(27, 14, 44, 0.3);


$light-blue-op90: rgba(240, 248, 255, 0.9);
$light-blue-op20: rgba(240, 248, 255, 0.2);
$light-green-op90:rgba(226, 255, 249, 0.9);

