@media (min-width: $screen-sm-min) {
    .navbar-collapse.collapse {
        background: none;
    }
    .navbar-right {
    margin-right: 0;
	}
	//fix for the ole weird not-so-centered main CTA buttons
	.center-grid-fix{
		position: relative;
		left: -15px;
	}
}

@media (min-width: $screen-xs-max) {
	.hero h2{
		font-size:4rem;
	}
		
}